.card {
	position: relative;
	width: 406px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	gap: 10px;
	color: var(--text-color);
	border: 2px solid var(--text-color);
	/* opacity: 0.6; */
	transform: scale(0.9);
	transition: 0.5s;
	cursor: pointer;
}

.card:not(.visible):after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: -2px;
	left: -2px;
	border-radius: 10px;
	border: 2px solid var(--card-after-color);
	background-color: var(--card-after-color);
}

.card.visible {
	opacity: 1;
	transform: scale(1);
	cursor: initial;
}

.card .card-image-container {
	display: flex;
	width: 100%;
	aspect-ratio: 16/9;
	border-radius: 10px;
	overflow: hidden;
}

.card .card-image-link {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.card .card-image {
	width: 100%;
	height: 100%;
	transition: 0.5s;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}

.card-image:has(+ .hover:hover),
.card .card-image:hover {
	transform: scale(1.2);
}

.card .card-title {
	margin-top: 20px;
	font-size: clamp(1rem, 2vw, 1.5rem);
}
.card .card-description {
	text-align: center;
	font-size: clamp(0.8rem, 2vw, 1rem);
	width: 95%;
}

.card .card-buttons a {
	background-color: #64beff;
	padding: 10px 20px;
	border-radius: 5px;
}

.card .card-stacks {
	width: 100%;
	margin-bottom: 10px;
	padding-top: 30px;
	margin-top: auto;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

.card .card-stacks .chip {
	height: fit-content;
	width: fit-content;
	border: 1px solid var(--chip-background-color);
	padding: 5px 15px;
	border-radius: 50px;
	text-align: center;
	color: var(--chip-background-color);
	font-family: Verdana, sans-serif;
	white-space: nowrap;
	font-size: clamp(0.8rem, 2vw, 1rem);
}

.hover {
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all 0.5s;
	display: grid;
	place-items: center;
}

.hover:hover,
.card-image:hover + .hover {
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 1;
}

.hover-content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 1.4rem;
}

.hover-icon {
	width: 25px;
	height: 25px;
}

@media only screen and (max-width: 1000px) {
	.card {
		background-color: var(--background-color);
		width: 80vw;
		box-sizing: border-box;
	}
}
