.navbar {
	display: flex;
	padding: 0.7rem 0.9rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;

	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 2rem;

	border-radius: 5.8125rem;
	background: var(--navbar-background);

	backdrop-filter: blur(10px);

	z-index: 100;
}

.navbar .items {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.navbar .items .item {
	display: flex;
	padding: 0.5rem 1.5rem;
	border-radius: 5rem;
	cursor: pointer;
	font-size: 1.1rem;
}

.navbar .items .item a {
	color: #fff;
	white-space: nowrap;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

.navbar .items .item a {
	color: var(--text-color);
}

.navbar .items .item:hover {
	background: var(--navbar-marker-color-hover);
}

.navbar .items .marker {
	position: absolute;
	border-radius: 5rem;

	background: var(--navbar-marker-color);
	z-index: -1;

	list-style: none;

	left: var(--left);

	transition: all 0.3s ease-in-out;
}

.navbar .menuIcon,
.navbar .closeIcon {
	display: none;
}

@media screen and (max-width: 768px) {
	.navbar {
		display: grid;
		place-items: center;
		width: 35px;
		height: 35px;
		padding: 0.5rem;
		top: 20px;
		right: 15px;
		left: auto;
		transform: none;
		border-radius: 50%;
		cursor: pointer;

		transition: width 0.3s ease-in-out, height 0.3s ease-in-out, border-radius 0.3s ease-in-out,
			top 0.3s ease-in-out, right 0.3s ease-in-out;
		transition-delay: width 0.3s, height 0.3s;
	}

	.navbar.menuOpen {
		height: 100vh;
		height: 100dvh;

		width: 100vw;
		top: 0;
		right: 0;
		border-radius: 0;
		background: var(--navbar-background);
		overflow: hidden;
		cursor: default;
	}

	.navbar.menuOpen .menuIcon {
		display: none;
	}

	.navbar.menuOpen .closeIcon {
		display: block;
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		color: var(--text-color);
		font-size: 2rem;
		cursor: pointer;
	}

	.navbar.menuOpen .items {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
	}

	.navbar.menuOpen .items .item {
		padding: 0.5rem 1rem;
		border-radius: 0;
		font-size: 2rem;
	}

	.navbar.menuOpen .items .item:hover,
	.navbar.menuOpen .items:not(:hover) .item.active {
		background: none;
		text-decoration: underline;
		text-decoration-color: var(--text-color);
		text-underline-offset: 0.5rem;
	}

	.navbar .items {
		display: none;
	}

	.navbar .menuIcon {
		display: flex;
		color: var(--text-color);
	}

	.navbar .marker {
		display: none;
	}
}
